body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 20px; background-color: #f4f4f4; }
.container { max-width: 600px; margin: auto; margin-bottom: 20px; background: #fff; padding: 1px 20px 20px 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
h2 { color: #333; }
.btn, .button { display: inline-block; padding: 10px 20px; margin: 5px; border-radius: 5px; background-color: #005A9C; color: white; cursor: pointer; text-decoration: none; }
.btn:hover, .button.default:hover { background-color: #007BFF; }
.button.default { border: 2px solid #3498db; color: #000000; background-color: #fff; }
.button.primary { border: 2px solid #2ecc71; color: #000000; background-color: #fff; }
.button.primary:hover { background-color: #2ecc71; color: #fff; }
.button.secondary { border: 2px solid #e74c3c; color: #000000; background-color: #fff; }
.button.secondary:hover { background-color: #e74c3c; color: #fff; }
.button.active, .btn.active {
    background-color: #FF3939 !important; /* Using !important to ensure override */
    color: white !important;
    border-color: #FF3939 !important;
}

#viewerRotationContainer {
    margin-top: 20px;
}

#viewerRotationList {
    list-style-type: none;
    padding: 0;
}

#viewerRotationList li {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
